.search-container {
    margin-bottom: 20px;
  }
  
  .search-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    font-size: 16px;
    outline: none;
  }
  
  .search-input::placeholder {
    color: #ccc;
  }
  