.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.app-header {
  font-size: 32px;
  margin-bottom: 20px;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
